1.	Write a Python program to reverse the words in a given sentence. Example:  
	Input: "Python is fun"  
	Output: "fun is Python"

In [ ]:
s = "Python is Fun"
words = s.split()
reversed_words = words[::-1]
result = ' '.join(reversed_words)
print(result)

Fun is Python

2.	Write a program to calculate the sum of digits in a given number. Example:
	Input: 123  
	Output: 6

In [ ]:
a = 123
b = 0
for i in str(a):
  b+=int(i)
b

3.	Write a Python function to count the number of vowels in a string. Example:  
	Input: "hello world"  
	Output: 3

In [ ]:
S = "hello world"
vowels = "aeiou"
count = 0
for i in S:
  if i in vowels:
    count+=1
print("No of vowels:",count)

4.	Write a program to check whether a string is a palindrome. Example:  
	Input: "madam"  
	Output: True

In [ ]:
K = input("Enter a Palindrome:")

if K == K[::-1]:
  print(True)
else:
  print("Give a Palindrome")

5.	Write a function to find the largest number in a list without using max() function.
Example:  
	Input: [5, 12, 7, 9]  
	Output: 12

In [ ]:
m = [5,12,7,9]
l = m[0]
for i in m:
  if l < i:
    l = i
print(l)

6.	Write a Python program to remove duplicate values from a list.
Example:  
	Input: [1, 2, 2, 3, 1]  
	Output: [1, 2, 3]

In [ ]:
A = [1,2,2,3,1]
set(A)

7.	Write a program to find the factorial of a given number.
Example:  
	Input: 5  
	Output: 120

In [ ]:
num = int(input("Enter a number:"))
factorial = 1
if num < 0 :
  print("factorial does not exist")
elif num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial = factorial*i
  print(f"The factorial of {num} is {factorial}.")

8.	Write a Python program to return all even numbers in a list.
Example:  
	Input: [1, 4, 5, 6]  
	Output: [4, 6]

In [ ]:
numbers = [1,4,5,6]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

9.	Write a function to count how many times each character appears in a string.
Example:  
	Input: "banana"
	Output: {'b': 1, 'a': 3, 'n': 2}

In [ ]:
Fruit = "banana"
char = {}
for i in Fruit:
  if i in char:
    char[i] += 1
  else:
    char[i]=1
print(char)

10.	Write a Python program to count the number of words in a sentence. Example:  
	Input: "Python is easy to learn"   
	Output: 5

In [ ]:
x = "Python is easy to learn"
words = x.split()
word_count = len(words)
print(word_count)

11. Write a program to check if two strings are anagrams.
Example : "listen", "Silent"
Output : True

In [ ]:
I = "listen","Silent"
word_1 = I[0].lower()
word_2 = I[1].lower()

if sorted(word_1) == sorted(word_2):
  print(True)
else:
  print("Give an anagram")

12. Write a Python function to convert celsius temperature to Fahrenheit.
Example:
   Input : 0
   Output : 32

In [ ]:
def convert(celsius):
  Farenheit = (celsius * (9/5)) + 32
  return Farenheit
temp_in_celsius = 0
print("Farenheit:", (convert(temp_in_celsius)))

13. Write a program to count how many uppercase letters are in a string.
Input : "Hello World"
Output : 2

In [ ]:
str = "Hello World"
count = 0
for i in str:
  if i.isupper():
   count+=1
print(count)

14. Write a Python function to find the second largest number in a list.
  Input : [10, 20, 15, 5]
  Output : 15

In [ ]:
T = [10, 20, 15, 5]
T.sort(reverse=True)
print(T[1])

15. Write a function to merge two lists into one.
Input = [1,2],[3,4]
Output = [1,2,3,4]

In [ ]:
list_1 = [1,2],[3,4]
merge_list = [(1,2)+(3,4)]
print(merge_list)

17.	Write a function to return the square of each number in a list.
Example:  
	Input: [1, 2, 3]  
	Output: [1, 4, 9]

In [ ]:
q = [1,2,3]
squared_num = []
for i in q:
  squared_num.append(i**2)
squared_num

18.	Write a Python function that returns the count of even and odd numbers in a list.
Example:  
	Input: [1, 2, 3, 4]   
	Output: (2, 2)

In [63]:
x = [1,2,3,4]
even_count = 0
odd_count = 0

for i in x:
  if i%2 == 0:
    even_count+=1
  else:
    odd_count+=1
print((even_count,odd_count))

(2, 2)

22. Write a program that prints the multiplication table of a number up to 10.
Input: 5
Output:

In [55]:
num = int(input("Enter a number:"))
num_2 = []

for i in range(1,11):
   print(f'{num} x {i} = {i*num}')

Enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

23. Write a function to count the number of times a specific character appears in a string.

In [56]:
r = "Hello World"
count = 0
for i in r.lower():
  if i == 'l':
    count += 1

print("No. of 'l':",count)

No. of 'l': 3

25. Write a Python program to count the number of negative numbers in a list.

In [57]:
c = [-1, 2, -3, 4, -6]
count = 0

for i in c:
  if i < 0:
    count+=1
count

3

16. 16.	Write a program to find common elements in two lists.
Example:  
	Input: [1, 2, 3], [2, 3, 4]  
	Output: [2, 3]

In [ ]:
list1 = [1,2,3]
list2 = [2,3,4]

common = list(set(list1) & set(list2))
print(common)

19.	Write a program to swap the first and last elements in a list.
Example:  
	Input: [1, 2, 3, 4]  
	Output: [4, 2, 3, 1]

In [59]:
Z = [1,2,3,4]
Z[0],Z[-1] = Z[-1],Z[0]
print(Z)

[4, 2, 3, 1]

20. Write a Python program to find the sum of elements in a list. Example:
▪	Input: "hello", "ell"  
▪	Output: True

In [60]:
S = "hello"
if S[1:4] == "ell":
  print(True)

True

21. Write a function to return the longest word in a sentence.
Input: "Python is amazing"
Output: "amazing"

In [61]:
sentence = "Python is amazing"
print(max(sentence.split(), key=len))

amazing

24. Write a program to check if one string is a substring of another.
Input: "hello", "ell"
Output: True

In [62]:
str1 = "hello"
str2 = "ell"

if str2 in str1:
    print(True)
else:
    print(False)

True